<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Glint</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/vendor.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    
    <!-- script
    ================================================== -->
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/web3/dist/web3.min.js') }}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top" onload="checkstatus(), checkupperlimit(), defaultvalue()">

    <header class="s-header">

	   
		<!-- A form that sends values to python script -->
		<form style="display: none;" id="update_b" action = "http://localhost:5000/sell" method = "post">
			<input id="new_balance" type="number" name="fetch" step=".01" value=""/>
			<input id="repeat" type="number" name="complete" value=""/>
			<button id="submit-button">Submit</button>
		</form>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a href="/home">Home</a></li>
                    <li><a href="/wallet">Wallet</a></li>
                    <li><a href="/buy">Buy</a></li>
                    <li><a href="/sell">Sell</a></li>
                    <li><a href="/support">Support</a></li>
                </ul>
            </div> 
		</nav>
		
        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header>
    <!-- Sell electricity page -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>
		<div class="row">
			<div class="col-md-3">
				
			</div>
			<div class="col-md-4">
				
			</div>
			<div class="col-md-2">
				<a class="token-menu">
					<span class="token-menu-text" id="ergonshow">&nbsp;&nbsp;ERGON Tokens: {{total_b}}&nbsp;&nbsp;</span>
					<span class="token-menu-text" id="upperlimit"></span>
				</a>
			</div>
		</div>
        <div class="row section-header" data-aos="fade-up">
            <div class="row">
				<div class="col-md-3">
					<div id="useergon" style="color:white; font-family: montserrat-light, sans-serif;">abc</div>
					<br />
					<a onclick="usetoken()" class="btn btn--primary full-width">&nbsp;&nbsp;Toggle ERGON use&nbsp;&nbsp;</a>
				</div>
			</div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">
                <h3 class="h6">Sell Electricity</h3>

				<h4 class="text-center" style="color: white; font-family: montserrat-light, sans-serif;">Current Battery Level: 200</h4>
				<br /><br />
                <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                    <fieldset>

                    <div class="form-field">
                            Value in Energy Units<input onkeyup="mytion()" name="killoWatt" type="number" id="killoWattID" placeholder="" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <a class="btn" onclick="tion()" id="buttonbutton" >Update</a>
                    <br /><br />
                    <div class="form-field">
                            Tokens Credited<input name="tokens" type="number" id="tokenID" placeholder="" value="" required="" disabled="true" class="full-width" aria-required="true">
                    </div>
                    <br /><br />
                    <div>
                        <label for="walletInput" style="color: white;">Transfer tokens to Wallet</label>
                            <div class="cl-custom-select">
                                <select class="full-width" id="walletInput">
										<option style="color:black;" value="0x9a351962d2a32bad82c1703990342f76ec57de39">Sample Wallet #1</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-field">
                        <a class="btn btn--primary full-width">Sell</a>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>
            </div>
			<br /><br />
			
			<!-- Sample market info -->
			<div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth"></h3>

                    <div class="cinfo">
                        <h5>Current Market Rate</h5>
                        <p>
                            1 Token = $ 4.9<br>
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Electricity Market Rate</h5>
                        <p>
                            1 Token = 1 Energy Unit(s)<br>
                        </p>
                    </div>

                   
                </div>
            </div>

        </div> 

    </section> 

  

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sample.js') }}"></script>

	<script>
			document.getElementById("killoWattID").addEventListener("focus", tion);
			function mytion()
			{
				document.getElementById("tokenID").value = 0;
			}
			function tion()
			{
				var x = document.getElementById("killoWattID").value
				x = x * 1;
				document.getElementById("tokenID").value = x;
			}	
	</script>

    <script>

        if (typeof web3 !== 'undefined') 
		{
			web3 = new Web3(web3.currentProvider);
		} 
      else 
        {
        	// set the provider you want from Web3.providers
        	web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
		}
		
		var hash = '0x44c37ef4e7aae871ef4fdc234066b9c7e5d901e5'; //smart contract address
		var vwallet = '0x6e79Fa441794F4af12a1831E9647E20E22035AD9'; //sample virtual wallet
		var userwallet = '0xF83787727AbEeb5C83897d7f3Aca1877911c50C7'; //sample HEPEK ID
		
		
        var serenitycont = web3.eth.contract([
	{
		"constant": true,
		"inputs": [],
		"name": "name",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "spender",
				"type": "address"
			},
			{
				"name": "tokens",
				"type": "uint256"
			}
		],
		"name": "approve",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "hepekID",
				"type": "address"
			},
			{
				"name": "userID",
				"type": "string"
			},
			{
				"name": "utype",
				"type": "uint256"
			},
			{
				"name": "tokenbalance",
				"type": "uint256"
			}
		],
		"name": "SC_adduser",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "from",
				"type": "address"
			},
			{
				"name": "to",
				"type": "address"
			},
			{
				"name": "tokens",
				"type": "uint256"
			}
		],
		"name": "transferFrom",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "to",
				"type": "address"
			},
			{
				"name": "topup",
				"type": "uint256"
			}
		],
		"name": "SC_addtopup",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "toggle",
				"type": "address"
			}
		],
		"name": "SC_useTokens",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "upper_limit",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "demand",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [],
		"name": "offDemand",
		"outputs": [
			{
				"name": "status",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "high_treshold",
				"type": "uint256"
			}
		],
		"name": "UpdateDemand",
		"outputs": [
			{
				"name": "status",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "hepekID",
				"type": "address"
			}
		],
		"name": "SC_channeloff",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "tokenOwner",
				"type": "address"
			}
		],
		"name": "balanceOf",
		"outputs": [
			{
				"name": "balance",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "totalsupply",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "toggle",
				"type": "address"
			}
		],
		"name": "SC_getTokenStatus",
		"outputs": [
			{
				"name": "status",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "symbol",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "to",
				"type": "address"
			},
			{
				"name": "tokens",
				"type": "uint256"
			}
		],
		"name": "transfer",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"name": "userlist",
		"outputs": [
			{
				"name": "channel",
				"type": "bool"
			},
			{
				"name": "last_topup",
				"type": "uint256"
			},
			{
				"name": "name",
				"type": "string"
			},
			{
				"name": "usertype",
				"type": "uint256"
			},
			{
				"name": "activestate",
				"type": "bool"
			},
			{
				"name": "useraddress",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_user",
				"type": "address"
			},
			{
				"name": "status",
				"type": "bool"
			}
		],
		"name": "SC_UpdateUserStatus",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "SC_getDemandStatus",
		"outputs": [
			{
				"name": "status",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "tokenOwner",
				"type": "address"
			},
			{
				"name": "spender",
				"type": "address"
			}
		],
		"name": "allowance",
		"outputs": [
			{
				"name": "remaining",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "hepekID",
				"type": "address"
			}
		],
		"name": "SC_checkuser",
		"outputs": [
			{
				"name": "condition",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "SC_returnlimit",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"payable": true,
		"stateMutability": "payable",
		"type": "fallback"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "tokens",
				"type": "uint256"
			}
		],
		"name": "update_launch",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"name": "from",
				"type": "address"
			},
			{
				"indexed": true,
				"name": "to",
				"type": "address"
			},
			{
				"indexed": false,
				"name": "tokens",
				"type": "uint256"
			}
		],
		"name": "Transfer",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"name": "tokenOwner",
				"type": "address"
			},
			{
				"indexed": true,
				"name": "spender",
				"type": "address"
			},
			{
				"indexed": false,
				"name": "tokens",
				"type": "uint256"
			}
		],
		"name": "Approval",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "tokens",
				"type": "uint256"
			}
		],
		"name": "Low_Treshold",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "tokens",
				"type": "uint256"
			}
		],
		"name": "Alert_Treshold",
		"type": "event"
	}
]);


    var addcont = serenitycont.at(hash);	//connecting Smart Contract ABI with its valid hash
    console.log(addcont);

	var update_token = addcont.update_launch();		//adding event catcher that gets new topup

	//initialising new balance to 0
	var a = document.getElementById("new_balance");
	a.value = 0;


	//receives new topup from smart contract and then sends this value to python script
	update_token.watch(function(err,res){
		if(!err){
			console.log(res.args.tokens);
			$("#new_balance").val(res.args.tokens);
			setTimeout(function(){
				$("#new_balance").val(res.args.tokens);
				$("#repeat").val(1);
				$('#submit-button').trigger('click');
			}, 15000);

		}
		else
		{
			console.log(err);
		}	
	});

	//using "repeat" variable from python script
	var temp = {{ repeat|safe }};


	//resets new balance to 0 after updating total balance
	function defaultvalue(){
		if(temp == 1){
			setTimeout(function(){
			$("#new_balance").val(0);
			$("#repeat").val(0);
			$('#submit-button').trigger('click');
			}, 3000);
		}
	}

	//checks if user is using ERGON tokens or solar energy
	function checkstatus()
	{
		addcont.SC_getTokenStatus(userwallet,function(err,res){
				if(!err){
					$("#useergon").show();
					$("#useergon").html(res + 0);
					console.log(res);
				}
				else{
					console.log(err);
				}});
	}

	//toggles switch of consuming ERGON tokens or solar energy
	function usetoken()
	{
			addcont.SC_useTokens(userwallet, {to:hash, from:vwallet},function(err,res){
            if(!err){
				checkstatus();
            }
            else{
                console.log(err);
            }
		});
	}

	//Receives upper limit value from smart contract
	function checkupperlimit()
    {
            addcont.SC_returnlimit(function(err,res){
            if(!err){
				console.log("hello");
                $("#upperlimit").show();
                $("#upperlimit").html("&nbsp;&nbsp;Upper Limit: " + res + "&nbsp;&nbsp;");
            }
            else{
                console.log(err);
            }
        });
    }

    </script>
</body>

</html>